<div class="home_container">

  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL">
  </app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL">
  </app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL">
  </app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL">
  </app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="DIGITAL">
  </app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="DIGITAL">
  </app-card>

</div>

